html {
    height: 97%;
}
body {
    height: 100%;
}

#sequence__input {
    margin-bottom: 10px;
}

footer {
    background: white;
    width: 100%;
}

.footer__content {
    text-align: center;
    
}

.menu {
    position: absolute;
    top: 5px;
    right: 5px;
}

.img_container {
    text-align: center;
}

.img_container img {
    width: 30%;
}