html {
    height: 100%;
}
body {
    height: 100%;
}

#sequence__input {
    margin-bottom: 10px;
}

footer {
    background: white;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.footer__content {
    position: relative;
    text-align: center;
    
}

.menu {
    position: absolute;
    top: 5px;
    right: 5px;
}